.sshForm {
  color: red;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.enableFormBtn {
  cursor: pointer;
  border: solid #000000 2px;
  padding: 8px;
  width: fit-content;
  border-radius: 5px;
}

.enableFormBtn:hover {
  background-color: chartreuse;
  color: white;
}
.sshFormChild {
  margin-top: 5px;
}
