.error{margin-top: 15px;
    color: white;
    width: fit-content;
    margin-left: 29%;
    border: solid red 2px;
    padding: 5px;
    background-color: salmon;
    
}
.xbtn{
    cursor: pointer;
    margin-left: 95%;
    width: fit-content;
}
.xbtnHover{
    margin-left: 95%;
    width: fit-content;
    cursor: pointer;
    fill: black;
}

.errorHover{

    margin-top: 15px;
    
    width: fit-content;
    margin-left: 29%;
    border: solid red 2px;
    padding: 5px;






    color: salmon;
    background-color: white;
}