.good {
  margin-top: 15px;
  color: white;
  width: fit-content;
  margin-left: 4%;
  border: solid green 2px;
  padding-right: 14px;
  padding-bottom: 12px;
  height: fit-content;
  background-color: lightgreen;

  animation: fade-out 6s;
  animation-iteration-count: 1;
}

.fadeOut {
  animation: fade-out ease 3s;
}
.xbtn {
  cursor: pointer;
  margin-left: 95%;
  width: fit-content;
}
.xbtnHover {
  margin-left: 95%;
  width: fit-content;
  cursor: pointer;
  fill: black;
}

.goodHover {
  margin-top: 15px;

  width: fit-content;
  margin-left: 4%;
  border: solid green 2px;
  padding-right: 14px;
  padding-bottom: 12px;
  height: fit-content;
  color: lightgreen;
  background-color: rgb(248, 219, 219);
}

@keyframes fade-out {
  80% {
    opacity: 0;
  }
}
