.open {
  transform: rotate(30deg);
}

.rightClickMenu {
  position: absolute;
  z-index: 10000;
  border: solid 2px black;
  background-color: blue;
  width: fit-content;
  cursor: pointer;
}
.tree {
  opacity: 1;
  margin-top: 10px;
}
.host_arrow {
  padding-left: 8%;
}
.arrow {
  width: 13px;
  height: 12px;
}

.powerBtn {
  width: 18px;
  height: 20px;
  padding-left: 5px;
}

.Gone {
  display: none;
}

.vm {
  padding-top: 10px;

  display: flex;
  flex-flow: row;
}

.vmList{
  padding-left: 11%;
 
}